* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #131212;
  color: #faf9f9;
}

.ml-4 {
background-attachment: fixed;
background-color: transparent;

}

.mr-2{
  background-color: turquoise;
}

