
$s-color: #eed771c1;
$s-light: #f3a411;
$s-dark: #bca334;

.main-view {
    height: 100%;
    
}

.navbar {
    height: 90px;
    margin-bottom: 10px;
    background: linear-gradient(rgba(63, 27, 192, 0.808)50%,rgba(63, 27, 192, 0.808) ,rgba(146, 2, 2, 0) 100%);
}

.nav-link:hover {
    color: $s-light !important;
    
}

.nav-link {
    margin-left: auto !important;
}
