* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #080808;
  color: #f5f3f3;
}
.card-view{
  overflow: hidden;
  width:100px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  }